
= javascript_include_tag 'comp/adm/post/templates'

#userscomp{}
 %fieldset
  %span= _ :querytext
  %input{name: 'userquery', type: 'text'}
  %fieldset
   %legend= _ :result
   %div{name: 'container'}

