
-#= javascript_include_tag 'common/tabs'

-#= javascript_include_tag 'comp/conf/participation/form'

:javascript
 window.addEvent('domready',function() {
   self.conf.addEvent('init_ok', function(result, error) {
   // $('participationcomp').adopt(new Coms.Comp.Conf.ParticipationForm(self.conf.id).panel);
    new Coms.Comp.Conf.ParticipationFormGeneral( $('participationcomp') );
   });
 });
#participationcomp{:sstyle=>"display: none"}
 %div{name: 'dict', style: "display: none"}
  -#%w[unregister_are_you_sure].each do |n|
  -%w[msg_form_saved_successfully msg_form_dropped_successfully].each do |n|
   %input{name: n, type: 'hidden', value: _(n)}
 =render "/comp/conf/participation/form_off"
 =render "/comp/conf/participation/form_on"




