
%div{name: 'form_off', style: "display: none"}
 %div{name: 'dict', style: "display: none"}
  -#%w[]
 %form.edit
  %fieldset
   %p
    = _(:register_my_participation)
   %p
    %input.save{type: 'button', value: _(:register_btn), name: 'form_register_btn'}

