
-#= javascript_include_tag 'common/tabs'

-#= javascript_include_tag 'comp/conf/participation/form'

:javascript
 window.addEvent('domready',function() {
   //$('participationcomp').adopt(new Coms.Comp.Conf.ParticipationForm(self.conf.id).panel);
   self.conf.addEvent('init_ok', function(result, error) {
    $('participationcomp').adopt(new Coms.Comp.Conf.ParticipationForm(self.conf.id).panel);
   });
 });
#participationcomp{:sstyle=>"display: none"}
 %div{name: 'container'}



