
<% content_for :page_content do %>
	<%= render :partial => 'lib/admin/items/path' %>
<div>
	<h2>Edit Item</h2>
	<%= render :partial => 'form' %>
</div>

<% end %>

<% render :file => 'lib/layout' %>


