
$bgcolor: white;
$textcolor2: rgb(20,40,128);
$textcolor: rgb(0,0,0);
$color3: #eeeeee;
$color4: #dde9fa;
$color: #000000;
$shadowcolor: #777777;
$lightshadowcolor: #cccccc;


@mixin font1 {
	font-family: Arial, Helvetica, sans-serif;
}
@mixin font2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.dateinput.hidden {
	display: none;
}
.dateinput {

	position: relative;
	//width: 240px;
        padding: 8px;



		position: absolute;
		z-index: 100;
		background-color: rgba(33,220,255,0.9);
	//	position: relative;
	//	box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);

	.day {
		text-align: right;
	}

//	border: solid red thin;
//	margin: 0;
//	padding: 0;
//	text-align: center;
//	form {
//		display: inline-block;
		border: solid green thin;
		//margin: 4px;
		margin: 0 4px 4px 4px;
		//padding: 4px;
		padding: 0 4px 4px 4px;
	//	width: 50px;

//	}
//	.hidden {
////		display: none;
//	}
//	.is-bound {
//		position: absolute;
//		box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
//	}
}

#participationcomp {
//	border: red solid thin;
//		text-align: center;
	.edit {
		h3 {
			text-align: center;
		}
//		width: 750px;
		/*
	//	text-align: center;
	//	.row {
			border: green solid thin;
//			text-align: center;
			display: inline-block;
			p {
			//	border: red solid thin;
			//	vertical-align: top;
				margin: 0;
				padding: 0;
			}
			.label {
				vertical-align: top;
				display: inline-block;
			//	width: 20em;
				width: 200px;
			//	margin-right: 0.2em;
			//	margin: 0.2em;
				margin: 5px;
				padding: 0;
				text-align: right;
				font-weight: bold;
			}
			.input {
			//	margin: 0;
			//	margin: 0.2em;
				margin: 5px;
				padding: 0;
			//	width: 30em;
				width: 300px;
			//	margin: 0.2em;
			//	padding: 0.1em;
			}
			.inputspan {
				display: inline-block;
				//display: inline;
				margin: 0;
				padding: 0;
			//	width: 300px;
			}
			.save {
			//	margin: 0.2em 0.2em 0.2em 20.6em;
				border-width: 10px;
				padding: 0;
				margin: 0;
		//		margin-left: 20.6em;
				margin-left: 215px;
				float: left;
			//	clear: both;
			}
	//	}
		*/


.label {
	float: left;
	width: 230px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}

.input, #name, #email, #comments {
	background-color: #FBEF99;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: .9em;
	width: 500px;
	margin-top: -2px;
}
.save {
	margin-left: 240px;
	background-color: #CBD893;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
}


	}

	/*
	.edit {
		text-align: center;
		.row {
			border: green solid thin;
//			text-align: center;
			display: inline-block;
			.label {
				display: inline-block;
				width: 20em;
				margin-right: 0.2em;
				text-align: right;
				font-weight: bold;
			}
			.input {
				width: 30em;
				margin: 0.2em;
				padding: 0.1em;
			}
			.save {
				float: left;
			}
		}
	}
	*/
}


