
- @page_title= _ :title
- @page_id='main'

-content_for :page_content do
 %h2{:align => 'center'}= _ :title

 %h3= _(:what_author_can_do)
 %table{cellpadding: 3, border: 1}
  -#%w[USER_REGISTER_NEW_PAPER PAPREG_PAPER_EDIT PAPREG_PAPER_DELETE PAPREG_PAPER_ABSTRACT_UPLOAD PAPREG_PAPER_ABSTRACT_REUPLOAD PAPREG_PAPER_ABSTRACT_REMOVE PAPREG_PAPER_FILE_UPLOAD PAPREG_PAPER_FILE_REUPLOAD PAPREG_PAPER_FILE_REMOVE PAPREG_PAPER_PRESENTATION_UPLOAD PAPREG_PAPER_PRESENTATION_REUPLOAD PAPREG_PAPER_PRESENTATION_REMOVE PAPREG_EXDOC_FILE_UPLOAD PAPREG_EXDOC_FILE_REUPLOAD PAPREG_EXDOC_FILE_REMOVE].each do |p|
  -%w[USER_REGISTER_NEW_PAPER PAPREG_PAPER_EDIT PAPREG_PAPER_DELETE PAPREG_PAPER_ABSTRACT_UPLOAD PAPREG_PAPER_ABSTRACT_REUPLOAD PAPREG_PAPER_ABSTRACT_REMOVE PAPREG_PAPER_FILE_UPLOAD PAPREG_PAPER_FILE_REUPLOAD PAPREG_PAPER_FILE_REMOVE PAPREG_PAPER_PRESENTATION_UPLOAD PAPREG_PAPER_PRESENTATION_REUPLOAD PAPREG_PAPER_PRESENTATION_REMOVE].each do |p|
   %tr
    %td
     = _( p )
    %td{align: 'center'}
     = @user_rights[p] ? _( :perm_yes ) : _( :perm_no )

-render :file => 'conf/main/layout'


