
-@part_id = 'conf'

-#content_for :page_content do
-content_for :section_content do
 %h2{:align => 'center'}= _ :title

 = render 'list_comp'

 %p
  -#%a{href: 'archive.html'}
  %a{href: '/conf/archive.html'}
   %b= _ :archive_page

