
- @page_title= _ :title
- @page_id='templates'

-content_for :post_page_content do
 %h3= @page_title
 %div
  =render "comp/adm/post/templates", :locals => {:current_id => @page_id}

-render :file => 'adm/post/layout'

