-@ss = "eewrerwerwerwewetwet"
-@ss = ::StreamSheet.writer 'csv'
-#@ss = ::StreamSheet.writer ext
-#render "/conf/reports/#{report_id}.csv"
-render :file => "/conf/reports/reports/#{report_id}.csv"
!=@ss.to_s
