
-@_tj_next_template = ''

-#revision = '2010-12-04'
-#revision = '2011-09-14'
-revision = '14 Sept, 2011'

-#%h2{:align => 'center'}= _ :title

-#%p{align: 'center'}= _(:revdate) + ': ' + revision
%p{align: 'center'}= 'Last revised: ' + revision


Administration of the web site of the CoMS-Elektropribor System (Conference Management System for the conferences held by State Research Center of Russia - Concern CSRI Elektropribor, JSC, hereinafter – System) provides access to a certain scope of online operations for Users on terms being the subject of the present rules of the System use.
%br
%br
Therefore, Users are requested to attentively read the terms of the present End User License Agreement (hereinafter – Agreement) which is considered by the System Administration as a  public offer in accordance with Article 437 of Civil Code of the Russian Federation.
%br
%br

1. Subject of the End User License Agreement 
%br
%br

1.1. The present Agreement was elaborated by the System Administration and it defines the terms of a User’s access to work in the System as well as the rights and obligations of Users and the Administration. The Agreement is also applicable to relations related to rights and interests of Third Parties not being Users of the System, whose rights and interests may be affected by actions of Users of the System.
%br
%br

1.2. The present Agreement is an agreement between User and the System Administration, the subject of which is provision of access to a certain scope of online operations (hereinafter – Services) in the System for User.
%br
%br

1.3. User is bound to read the present Agreement before he/she registers in the system. The Agreement shall become effective from the moment the User agrees to be bound by the terms of the Agreement by pressing button Register and is in force during the whole period of providing Services and their use.
%br
%br
1.4. User’s registration in the System implies User’s entire and unconditional acceptance of the conditions set forth in the Agreement in accordance with Article 438 of Civil Code of the Russian Federation.
%br
%br
1.5. The present Agreement may be modified and / or amended by the System Administration unilaterally at any time without any special notice. The present Agreement is an open and public document. The Agreement version in force is available in Internet at:
%a{href: 'http://comsep.ru'} http://comsep.ru
%br
%br

The System Administration recommends that Users regularly check the terms of the present Agreement for their amendment and / or additions. If User proceeds with using the System after changes and / or additions have been introduced to the present Agreement it means that User accepts the changes and / or additions and agrees with them.
%br
%br

2. User’s Registration, Password and Security
%br
%br

2.1. User’s registration in the System is free and voluntary. It is executed at the System site. 
%br
%br
2.2. User of the System is a natural person registered in the System in accordance with the procedure set forth in the present Agreement, aged for acceptance of the present Agreement in accordance with legislation of the Russian Federation, and having corresponding authority (previously and hereinafter – User).
%br
%br

2.3. When registering in the System, User must provide the System Administration with all necessary reliable and relevant information basing on which after data processing the System will generate login (PIN) for the User. Password to login to the System is assigned by the User. 
%br
%br

2.4. User’s login and password are necessary and sufficient data for User’s access to work in the System.
%br
%br

2.5. Accepting the present Agreement by registering in the System, User confirms consent to processing by the System Administration of his/her personal data provided during registration. User’s personal data processing is carried out in accordance with legislation of the Russian Federation. 
%br
%br

2.6. User is responsible for reliability, urgency, completeness and compliance with the legislation of the Russian Federation of the data provided during registration and its purity from the claims of the Third Parties. The system automatically processes the User’s personal data with a view to provide Services to the User.
%br
%br

2.7. When registering, the User agrees with the present Agreement and assumes the rights and duties specified in it, associated with the use and operation of the System. The User has no right to transfer his/her PIN and password to Third Parties, shall be entirely responsible for their security, selecting method of their storage on his/her own. 
%br
%br

2.8. The User agrees that the System Administration has the right to forbid the use of certain passwords.
%br
%br

2.9. If User does not prove the contrary, any acts committed with the use of his/her login and password are considered to be committed by the appropriate User. In case of unauthorized access to his/her login and password or their spread, User shall immediately notify the System Administration in accordance with established procedure.
%br
%br

2.10. After User’s successful registration in the System the Administration assumes the rights and obligations to the User specified in the present Agreement. The System Administration takes all necessary measures to protect User’s personal data from unauthorized access, alteration, disclosure or destruction. The administration gives access to User’s personal data only to those employees for whom this information is necessary for maintenance of the System operation and provision of Services to the User.
%br
%br


2.11. The System Administration is entitled to use the information provided by the User including personal data in order to ensure compliance with the current legislation of the Russian Federation (including the prevention and / or suppression of illegal and / or unlawful actions of the User).
%br
%br

Disclosure of the information provided by the User can be made only according to the current legislation of the Russian Federation by order of the court, law machinery as well as in other statutory cases.
%br
%br

2.12. All complaints, inquiries, questions and other correspondence shall be sent to the following address:
%br
%br
%b
 Scientific and Technical Information Department
 %br
 State Research Center of Russia Concern CSRI Elektropribor, JSC,
 %br
 30, Malaya Posadskaya St.,
 %br
 Saint Petersburg, 197046,
 %br
 Russia

%br
%br
3. Regulation for Posting Information
%br
%br

3.1. All materials presented in the System including images, program code, trade marks, graphics are subjects of the exclusive rights and are protected according to the legislation of the Russian Federation on the intellectual property and intellectual rights.
%br
%br

3.2. The User bears responsibility for infringement of intellectual rights of Third Parties, in particular copyrights and allied rights as well as exclusive rights to an invention, utility model, industrial model or trade mark.
%br
%br

3.3. When using the System it is prohibited for the User to upload, transfer, change or post information, data or images which violate exclusive rights of Third Parties, in particular copyrights and allied rights as well as exclusive rights to an invention, utility model, industrial model or trade mark.
%br
%br


4. Prohibited Use
%br
%br

4.1. It is prohibited for the Users: 
%br
to upload, post, transfer using the System software or any other publication means the texts, programs, images or other materials propagandizing terrorist activity or stimulating international, racial or religious hatred as well as displaying or propagandizing violence or death, containing description or image of trespass to minor persons in any form including any forms of pornography; 
%br
to upload, post, transfer using the System software or any other publication means the texts, programs, images or other materials containing obscene materials and information in any form inducing people to illegal actions, including gaming, illegal sale of weapons or drugs; 
%br
upload, store or transfer any advertising information, description of fraud schemes, schemes of multilevel marketing (MLM), systems for earning in Internet and so on;
%br
set up for another man or representative of organization and / or community, and deceive another Users;
%br
to impede the System work by any manner, including uploading, storage, transfer or posting of materials containing viruses or other computer codes, files or programs intended for infringement, destruction or functional restriction of any computer or telecommunication equipment or programs, for realization of the unauthorized access as well as serial numbers to commercial software and programs for their generation, logins, passwords and other means for obtaining unauthorized access to paid resources in Internet, and well as posting links to the above information.
%br
%br

4.2. The User takes obligation not to break informational safety of the System, namely not to do the following: 
%br
to try to check up vulnerability of the System safety system, 
%br
to try to break procedures of registration and authorization, 
%br
to try to impede other Users to use the System, that includes distribution of computer viruses, contamination of data and/or requests to the System with the aim to intentionally put the System server out of action and other actions going beyond the normal target use of the System and being able to cause failures in its operation deliberately or on imprudence.


%br
%br
5. Moderation
%br
%br

5.1. User agrees with the right of the System Administration to limit or to block access to the System or to take other measures regarding the User who has violated the conditions of the Agreement, either regulations of the current legislation, or rights of Third Parties protected by the law in case of their reasoned complaint receipt. 
%br
%br

The character of these measures including access restriction length and level is defined by the Administration at its own discretion and is applicable without prior or posterior notice and explanation of reasons.
%br
%br

5.2. In case of infringement of the Agreement conditions the System Administration has the right to take necessary measures for protection of these conditions and its interests irrespective of time limitation of these infringements. Thus the Administration inactivity at infringement of the Agreement conditions by Users does not deprive the Administration of the right to take necessary actions for protection of its interests later and does not mean the Administration’s waiving its rights at commission of similar infringements in future. 
%br
%br

5.3. The Administration’s right to moderation is not a duty to inspect all the materials the Users place in the System, publish or transmit using the System services.
%br
%br

Moderation of the System site is carried out in the extent established by the System Administration.
%br
%br

6. Final Regulations 
%br
%br

6.1. When registering, the User gets the data for his/her access to the System and assumes entire responsibility for its safety in particular for observance of all the measures to secure his/her access as well as for all the actions accomplished with the use of the User’s login and password.
%br
%br

6.2. The User agrees with a duty to immediately notify the System Administration of any security violation related to access to the System committed with the use of the User’s login and password without his/her knowledge and consent.
%br
%br

6.3. The System Administration does not assume responsibility for any consequences of security violation including data loss or contamination caused by unauthorized access to the System of Third Parties.
%br
%br

6.4. The System Administration does not bear responsibility for loss of the data for User’s access to the System occurred through the User’s fault as well as for any consequences which may arise as a result of it.
%br
%br

6.5. The User agrees that the System Administration has the right to limit or terminate the User’s access to the System at its own discretion and without a special notice or warning for any reason including infringement of the Agreement conditions by the User. Thus the Administration does not assume responsibility for consequences of such restrictions and safety of the User’s personal data.
%br
%br

6.6. At repeated infringements of the Agreement regulations by the User the Administration has the right to refuse him/her provision of the System services.
%br
%br


6.7. This website and the Agreement shall be governed by and construed in accordance with the laws of Russian Federation. All disputes arising out of or in connection with this Agreement shall be submitted to the exclusive jurisdiction of the courts of Russian Federation.
In the event of a discrepancy or difference in interpretation between various language versions of Agreement, the Russian language version shall prevail.
All disputes between the Administration and the User shall be settled according to the present Agreement, and in case adjustment of disputes is impossible, juridically according to the legislation of the Russian Federation.


