
-@_tj_next_template = ''

-revision = '2010-12-04'
-#revision = '2011-09-14'

-#%h2{:align => 'center'}= _ :title

-#%p{align: 'center'}= _(:revdate) + ': ' + revision
%p{align: 'center'}= 'Дата последнего изменения: ' + revision

Администрация сайта системы «СПОК-Электроприбор» (системы поддержки и организации конференций, проводимых ГНЦ РФ ОАО «Концерн «ЦНИИ «Электроприбор», далее – «Система») предоставляет доступ Пользователям  к определенному спектру онлайновых операций в Системе на условиях, являющихся предметом настоящих правил  пользования Системой.
%br
%br
В этой связи пользователям необходимо внимательно ознакомиться с условиями настоящего Пользовательского соглашения (далее - Соглашение), которое рассматривается Администрацией Системы  как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
%br
%br
1.Предмет пользовательского соглашения
%br
%br
1.1. Настоящее соглашение разработано Администрацией Системы и определяет условия доступа Пользователя к работе в Системе, а также права и обязанности Пользователей и Администрации. 
Соглашение распространяется также на отношения, связанные с правами и интересами третьих лиц, не являющихся Пользователями Системы, но чьи права и интересы могут быть затронуты в результате действий Пользователей Системы.
%br
%br
1.2. Настоящее Соглашение является договором  между Пользователем и Администрацией Системы, предмет которого есть предоставление Администрацией Системы доступа Пользователю к определенному спектру онлайновых операций в Системе (далее - Услуг). 
%br
%br
1.3. Пользователь обязан ознакомиться с настоящим Соглашением до момента регистрации в Системе. 
Соглашение вступает в силу с момента выражения Пользователем согласия с условиями Соглашения путем нажатия кнопки «Зарегистрироваться» и действует  в течение всего времени предоставления и использования Услуг.
%br
%br
1.4. Регистрация Пользователя в Системе означает полное и безоговорочное принятие Пользователем условий настоящего Соглашения в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
%br
%br
1.5. Настоящее Соглашение может быть изменено и/или дополнено Администрацией Системы в одностороннем порядке без какого-либо специального уведомления. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения располагается в сети Интернет по адресу:
%a{href: 'http://comsep.ru'} http://comsep.ru
%br
%br
Администрация Системы рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет его изменения и/или дополнения. 
Продолжение использования Системы Пользователем после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.


%br
%br
2.Регистрация Пользователя, пароль и безопасность
%br
%br
2.1. Регистрация Пользователя в  Системе является бесплатной, добровольной и производится на сайте Системы.
%br
%br
2.2. Пользователем Системы является физическое лицо, зарегистрированное в Системе в соответствии с установленным настоящим Соглашением порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящего Соглашения, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).
%br
%br
2.3. При регистрации в Системе Пользователь обязан предоставить Администрации Системы всю необходимую достоверную и актуальную информацию, на основании которой Система  после обработки данных выдаст ему логин (PIN). 
Пароль (password) для входа в Систему Пользователь назначает сам. 
%br
%br
2.4. Логин и пароль Пользователя являются необходимой и достаточной информацией для доступа Пользователя к работе в  Системе. 
%br
%br
2.5. Принимая настоящее Соглашение путем регистрации в Системе, Пользователь подтверждает свое согласие на обработку Администрацией Системы его персональных данных, представленных при регистрации. 
Обработка персональных данных Пользователя осуществляется в соответствии с законодательством РФ.
%br
%br
2.6. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации, и ее чистоту от претензий третьих лиц.
Система автоматически обрабатывает персональные данные Пользователя в целях предоставления Пользователю Услуг. 
%br
%br
2.7. При регистрации Пользователь соглашается с настоящим Соглашением и принимает на себя указанные в нем права и обязанности, связанные с использованием и функционированием Системы.
Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. 
%br
%br
2.8. Пользователь соглашается  с тем, что Администрация Системы  имеет право запретить использование определенных  паролей. 
%br
%br
2.9. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. 
В случае несанкционированного доступа к логину и паролю, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Системы в установленном порядке.
%br
%br
2.10. После успешной регистрации Пользователя в Системе Администрация принимает на себя права и обязанности перед Пользователем, указанные в настоящем Соглашении.
Администрация Системы принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. 
Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, которым эта информация необходима для обеспечения функционирования Системы  и предоставления Услуг Пользователю. 
%br
%br
2.11. Администрация Системы вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства РФ (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователя).
%br
%br
Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством РФ по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством РФ случаях.
%br
%br
2.12. Все претензии, запросы, вопросы и иная корреспонденция должны направляться по адресу:
%br
%br
%b
 ГНЦ РФ ОАО "Концерн "ЦНИИ "Электроприбор"
 %br
 197046, Россия, Санкт-Петербург,
 %br
 ул. Малая Посадская, 30.
 %br
 ОНТИ

%br
%br
3.Правила размещения информации
%br
%br
3.1. Все материалы, представленные в Системе, включая изображения, программный код, логотипы, графику, являются объектами исключительных прав и защищены в соответствии с законодательством Российской Федерации об интеллектуальной собственности и интеллектуальных правах.
%br
%br
3.2. Пользователь несет ответственность в случае нарушения интеллектуальных прав третьих лиц, в частности авторских и смежных с ними прав, а также исключительных прав на изобретение, полезную модель, промышленный образец или товарный знак.
%br
%br
3.3. При использовании Системы запрещены загрузка, передача, изменение или размещение информации, данных или изображений, которые нарушают исключительные права третьих лиц, в частности авторские и смежные с ними права, а также исключительные права на изобретение, полезную модель, промышленный образец или товарный знак.
%br
%br
4. Запрещенное использование
%br
%br
4.1. Пользователям запрещается:
%br
загружать, размещать, передавать с помощью программных средств Системы  или любого другого способа публикации тексты, программы, изображения или другие виды материалов, пропагандирующие террористическую деятельность или разжигающие межнациональную, расовую или религиозную рознь, а также отображающие или пропагандирующие насилие или смерть, содержащие описание или изображение причинения вреда несовершеннолетним лицам в любой форме, включая любые формы порнографии;
%br
загружать, размещать, передавать с помощью программных средств Системы или любого другого способа публикации тексты, программы, изображения или другие виды материалов,  содержащие непристойные материалы и информацию, в любой форме побуждающей к незаконным действиям, включая азартные игры, нелегальную продажу оружия или наркотиков;
%br
загружать, хранить или передавать любую рекламную информацию, описание мошеннических схем, схем сетевого маркетинга (MLM), систем заработка в интернет и так далее;
%br
выдавать себя за другого человека или представителя организации и/или сообщества, а также вводить других пользователей в заблуждение;
%br
любым способом препятствовать работе Системы, в том числе путем загрузки, хранения, передачи или размещения материалов, содержащих вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещения ссылок на вышеуказанную информацию.
%br
%br
4.2. Пользователь обязуется не нарушать информационную безопасность Системы, а именно обязуется не совершать следующих действий:
%br
осуществлять попытки проверить уязвимость системы безопасности Системы, 
%br
осуществлять попытки нарушить процедуры регистрации и авторизации, 
%br
осуществлять попытки создания помех в использовании Системы другими пользователями, что включает в себя распространение компьютерных вирусов, порчу данных и/или запросов к Системе с целью намеренно вывести сервер сайта Системы из строя и другие  действия, выходящие за рамки нормального целевого использования Системы и могущие умышленно или по неосторожности повлечь сбои в ее  работе. 

%br
%br
5. Модерация
%br
%br
5.1. Пользователь соглашается с правом Администрации Системы  ограничивать или блокировать доступ к Системе или принимать иные меры в отношении Пользователя, нарушившего условия Соглашения, либо нормы действующего законодательства, либо охраняемые законом права третьих лиц в случае поступления от них мотивированной жалобы. 
%br
%br
Характер этих мер, включая длительность и уровень ограничения доступа, определяется при этом Администрацией по собственному усмотрению и может быть применен без предварительного или последующего уведомления и объяснения причин.
%br
%br
5.2. В случае нарушения условий Соглашения Администрация Системы  имеет право предпринимать меры, необходимые для защиты этих условий и своих интересов вне зависимости от срока давности этих нарушений. Таким образом, бездействие со стороны Администрации при нарушении Пользователями условий Соглашения не лишает Администрацию права предпринять необходимые для защиты своих интересов действия позднее и не говорит об отказе Администрации от своих прав при совершении подобных нарушений в будущем.
%br
%br
5.3. Право Администрации на модерацию не является обязанностью контролировать все материалы, размещаемые Пользователями в Системе, публикуемые или передаваемые с использованием сервисов Системы. 
%br
%br
Модерация Сайта Системы осуществляется в объёмах, устанавливаемых Администрацией Системы.

%br
%br
6. Заключительные положения
%br
%br
6.1. При регистрации Пользователь получает информацию для доступа в Систему и принимает на себя всю ответственность за её сохранность, в том числе за соблюдение всех мер для обеспечения безопасности своего доступа, а также за все действия, совершённые с использованием логина и пароля Пользователя.
%br
%br
6.2. Пользователь соглашается с обязанностью немедленно уведомить Администрацию Системы о любом нарушении безопасности, связанном с доступом в Систему, совершённом с использованием логина и пароля Пользователя без его ведома и согласия. 
%br
%br
6.3. Администрация Системы  не принимает на себя ответственности ни за какие последствия нарушения безопасности, в том числе потерю или порчу данных, произошедшие в результате неавторизованного доступа третьих лиц в Систему.
%br
%br
6.4. Администрация Системы  не несёт ответственности за потерю информации для доступа в Систему, совершённую по вине Пользователя, а также за любые последствия, которые могут возникнуть в результате этого.
%br
%br
6.5. Пользователь соглашается с тем, что Администрация Системы  имеет право по собственному усмотрению и без специального уведомления или предупреждения ограничивать или прекращать действие доступа Пользователя к Системе  по любой причине, в том числе при нарушении им условий Соглашения. При этом Администрация не принимает на себя ответственности за последствия таких ограничений и сохранность личных данных Пользователя.
%br
%br
6.6. При неоднократном нарушении Пользователем положений Соглашения Администрация вправе отказать ему в предоставлении сервисов Системы.
%br
%br
6.7. Все споры между Администрацией и Пользователем разрешаются согласно настоящему Пользовательскому Соглашению, а в случае невозможности такого урегулирования - в судебном порядке в соответствии с законодательством Российской Федерации.



