
$bgcolor: white;
//$bgcolor: #aaddff;
//$bgcolor: #ddeeff;
//$bgcolor: blue;
//$textcolor2: rgb(20,40,90);
$textcolor2: rgb(20,40,128);
//$textcolor2: rgb(255,255,255);
$textcolor: rgb(0,0,0);
//$color3: #080f21;
//$color3: #98b3f8;
$color3: #eeeeee;
//$color4: #3db4f1;
//$color4: #3df7f1;
$color4: #dde9fa;
//$textcolor: $textcolor2;


//$bgcolor: #ffffff;
//$bgcolorinside: #f0f0f0;
//$menubgcolor: #ee8808;
//$menuhover: #eeeeee;
$color: #000000;
$shadowcolor: #777777;
$lightshadowcolor: #cccccc;
//$titlecolor: $color;

//$color_disabled: #444444;
//$bgcolor_disabled: #777777;


@mixin font1 {
	//font-family: Arial, Verdana, Helvetica, sans-serif;
//	font-family: sans-serif;
	//font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
//	font-family: Arial;
	//font-family: Helvetica, sans-serif;
}
@mixin font2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.clear { clear: both; }

body.any {
	width: 95%;
	margin: 0 auto;
	@include font1;
	font-size: 12pt;
//	margin: 0;
	padding: 0;
	color: black;
	font-size: 12pt;
	a {
		color: black;
	}
	a:hover, a.current {
		background-color: $color4;
	}
	background-color: $bgcolor;
	//color: red;
	.menu_block {
				ul.hor_menu {
					list-style: none;
					margin: 0;
					float: left;
					padding: 0;
					li {
						display: inline;
						a {
							border-right: solid 2px $color4;
							float: left;
							text-decoration: none;
							display: block;
							padding: 0.5em 0.5em 0.5em 0.5em;
							margin: 0 0em;

						}
						a:hover, a.current {
							background-color: $color4;
						}
					}
				}
	}
			//	.tabs {
					.menu {
					//	border: solid thin green;
						margin: 5px 0 0 2px;
						padding: 6px 0px 10px 0px;
						li {
							list-style: none;
							display: inline;
							padding: 0px 0px 0px 0px;
							a {
								padding: 5px 8px 5px 8px;
								text-decoration: none;
								margin: 0 0px 0 0px;
								font-size: 10pt;
								font-weight: bold;
								background-color: $lightshadowcolor;
								border-bottom: {
									width: 1px;
									style: solid;
									color: $shadowcolor;
								}
								border-top: {
									width: 2px;
									style: solid;
									color: $shadowcolor;
								}
								border-right: {
									width: 2px;
									style: solid;
									color: $shadowcolor;
								}
								border-left: {
									width: 1px;
									style: solid;
									color: transparent;
									color: $color;
								}
							}
						}
						li.current {
							a {
								padding: 8px 8px 5px 8px;
								background-color: transparent;
								border-bottom: {
									width: 1px;
									style: solid;
									color: transparent;
								}
							}
						}
					}
			//	}
	.top {
	//	@include font2;
		color: black;
		a { color: black; }
		margin: 0;
		padding: 0;
		> .title {
		//	@include font2;
			font-size: 20pt;
			margin: 0.5em;
		}
		> .nav {
	//	.nav {
		//	border: solid thin $color4;
			border: solid 2px $color4;
	//		box-shadow:1px 1px 10px 0px #777;
		//	box-shadow: 0px 0px 3px #000;
	//		box-shadow: 0px 0px 3px #000;
		//	border: solid thin red;
			background-color: $color3;
			//margin: 15px 30px;
			font-size: 10pt;
		//	margin: 1em 2em;
			margin: 1em 0em;
		//	border-radius: 5px;
			> .left {
			}
			.right {

				.item {
					border-left: solid 2px $color4;
						text-align: center;
						margin: 0;
						float: right;
					.highlighted {
						> a {
							span.underlined {
						//		border-bottom: dashed thin black;
							}
						//	padding: 0.8em 0.8em 0.8em 0.8em;
							padding: 0.5em 0.5em 0.5em 0.5em;
							overflow-x:hidden;
							overflow-y:hidden;
							white-space:nowrap;
							text-decoration: none;
							display: block;
							cursor: pointer;
						}
						.block {
							position: relative;
							.panel {
								border-radius: 0 0 15px 15px;
								padding: 2em;
								background-color: $color4;
							//	width: 40em;
								position: absolute;
								display: none;
								right: -2px;
								td {
									padding: 0.5em;
								}
							}
						}
						.block2 {
							position: relative;
							.panel {
								.close_btn {
									cursor: pointer;
									float: right;
								}
								border-radius: 0 0 15px 15px;
								padding: 0.4em;
							//	padding: 2em;
								background-color: $color4;
								position: absolute;
								display: none;
								right: -2px;
								table {
									padding: 0.5em;
								}
								td {
									padding: 0.2em;
								}
							}
						}
					}
						.lang {
							padding: 0.5em 0.5em 0.5em 0.5em;
							background-color: $color4;
							> a {
								cursor: pointer;
								text-decoration: none;
							}
						}
				}
				.item:hover {
					.highlighted {
						background-color: $color4;
						.block { .panel { display: block; } }
					}
				//	.login, .logged {
				//	}
				}
			}
		}
	}
	.body {
		font-size: 10pt;
		h2 {
	//		@include font2;
		//	background-color: $color4;
		//	@include font1;
		//	font-size: 14pt;
			font-size: 140%;
			margin: 0.8em;
		}
		table.confs_list {
			border-collapse:collapse;
			border: none;
			border-top: solid 2px $color4;
			border-bottom: solid 2px $color4;
			tr {
				td {
					border: none;
					padding: 1em;
				}
				th {
					background-color: $color3;
					border: none;
					padding: 0.5em;
				}
			}
			.item {
				.title {
				}
				.description {
					margin: 0.5em 0 0 0;
					font-style: italic;
				//	line-height: 2em;
			//		margin: 1.5em 0 0 0;
				}
				.link {
					margin: 0.5em 0 0 0;
				}
			}
		}
	}
	.bottom {
	//	@include font2;
		background-color: $color3;
		font-size: 8pt;
	//	border-top: solid 2px $color4;
	//	border: solid 2px $color4;
	//	background-color: $color4;
		margin: 1em 0;
	//	padding: 1em 0;
		padding: 0.5em;
	}
}

.topics_list {
	.item {
	//	border: solid thin;
		padding: 0.2em;
	}

}
.topic_messages {
	.item {
		border: solid thin;
		margin: 0.2em;
		padding: 0.2em;
	}
	.add_message_text {
		width: 100%;
		height: 6em;
	}
	.add_message_btn {
	//	float: right;
	}

}


