
- @page_title= _ :title
- @page_id='main'

-content_for :page_content do
 %div
  Library main page
  -#=render "comp/adm/conf", :locals => {:current_id => @page_id}

-render :file => 'lib/layout'
-#render :file => 'adm/post/layout'

