
-#set_content_for :site_id, 'lib'

-content_for :section_content do
 .lib
  %h2{:align => 'center'}= _ :library

  -#%div{:align=>"left"}
   =render :partial => "comp/menu/horizontal", :locals => {:current_id => @page_id, :base =>"/lib/", :data => [ [_(:main), './', 'main'], [_(:conferences), './conferences', 'conferences'], [_(:periodicals), './periodicals', 'periodicals'], [_(:books), './books', 'books'] ]}
   .clear

  %div= yield :page_content

- @part_id='lib'



